@using ReportViewerForMvc;

@{
    ViewBag.Title = "Correspondance Report";
}


<h2>Correspondance Report</h2>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

