@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title @ViewBag.Message</h2>

<br />
<h4>Web application used by County Court Victoria to record correspondances received and sent.</h4>
<h4>For access to this application, please contact the system owner or court services technical team.</h4>